{# templates/proj/about.html.twig #}

{% extends('proj/base.html.twig') %}

{% block title %}Om projektet{% endblock %}

{% block content %}
    <div class="main-title">
        <h1>Om projektet</h1>
    </div>

    <div class="main-content">
        <h2>Sida om projektet</h2>
    </div>
</div>
{% endblock %}
