{# templates/roll.html.twig #}

{% extends('base.html.twig') %}

{% block title %}Game{% endblock %}

{% block content %}
<div class="main-title">
    <h1>Välkommen till tärningsspelet</h1>
</div>

<div class="main-content">
    <p>Kasta en tärning.</p>
    <ul>
        <li>{{ diceString }}</li>
    </ul>
</div>

<div class="main-side">
    <a href="{{ asset ('img/avatar.png') }}">
        <img src="{{ asset ('img/avatar.png') }}" alt="Bild kunde inte laddas">
    </a>
</div>
{% endblock %}
