.card-sprite {
    display: inline-block;
    padding: 0;
    margin: 0 4px 0 0;
    width: 91px;
    height: 136px;
    background: url(../img/deck.png) no-repeat;
    border-radius: 8px;
}

.card-sprite.hearts-1 {
    background-position: -7px -37px;
}

.card-sprite.hearts-2 {
    background-position: -105px -37px;
}

.card-sprite.hearts-3 {
    background-position: -203px -37px;
}

.card-sprite.hearts-4 {
    background-position: -301px -37px;
}

.card-sprite.hearts-5 {
    background-position: -399px -37px;
}

.card-sprite.hearts-6 {
    background-position: -497px -37px;
}

.card-sprite.hearts-7 {
    background-position: -595px -37px;
}

.card-sprite.hearts-8 {
    background-position: -693px -37px;
}

.card-sprite.hearts-9 {
    background-position: -790px -37px;
}

.card-sprite.hearts-10 {
    background-position: -888px -37px;
}

.card-sprite.hearts-11 {
    background-position: -986px -37px;
}

.card-sprite.hearts-12 {
    background-position: -1084px -37px;
}

.card-sprite.hearts-13 {
    background-position: -1182px -37px;
}


.card-sprite.diamonds-1 {
    background-position: -7px -181px;
}

.card-sprite.diamonds-2 {
    background-position: -105px -181px;
}

.card-sprite.diamonds-3 {
    background-position: -203px -181px;
}

.card-sprite.diamonds-4 {
    background-position: -301px -181px;
}

.card-sprite.diamonds-5 {
    background-position: -399px -181px;
}

.card-sprite.diamonds-6 {
    background-position: -497px -181px;
}

.card-sprite.diamonds-7 {
    background-position: -595px -181px;
}

.card-sprite.diamonds-8 {
    background-position: -693px -181px;
}

.card-sprite.diamonds-9 {
    background-position: -790px -181px;
}

.card-sprite.diamonds-10 {
    background-position: -888px -181px;
}

.card-sprite.diamonds-11 {
    background-position: -986px -181px;
}

.card-sprite.diamonds-12 {
    background-position: -1084px -181px;
}

.card-sprite.diamonds-13 {
    background-position: -1182px -181px;
}

.card-sprite.clubs-1 {
    background-position: -7px -323px;
}

.card-sprite.clubs-2 {
    background-position: -105px -323px;
}

.card-sprite.clubs-3 {
    background-position: -203px -323px;
}

.card-sprite.clubs-4 {
    background-position: -301px -323px;
}

.card-sprite.clubs-5 {
    background-position: -399px -323px;
}

.card-sprite.clubs-6 {
    background-position: -497px -323px;
}

.card-sprite.clubs-7 {
    background-position: -595px -323px;
}

.card-sprite.clubs-8 {
    background-position: -693px -323px;
}

.card-sprite.clubs-9 {
    background-position: -790px -323px;
}

.card-sprite.clubs-10 {
    background-position: -888px -323px;
}

.card-sprite.clubs-11 {
    background-position: -986px -323px;
}

.card-sprite.clubs-12 {
    background-position: -1084px -323px;
}

.card-sprite.clubs-13 {
    background-position: -1182px -323px;
}

.card-sprite.spades-1 {
    background-position: -7px -467px;
}

.card-sprite.spades-2 {
    background-position: -105px -467px;
}

.card-sprite.spades-3 {
    background-position: -203px -467px;
}

.card-sprite.spades-4 {
    background-position: -301px -467px;
}

.card-sprite.spades-5 {
    background-position: -399px -467px;
}

.card-sprite.spades-6 {
    background-position: -497px -467px;
}

.card-sprite.spades-7 {
    background-position: -595px -467px;
}

.card-sprite.spades-8 {
    background-position: -693px -467px;
}

.card-sprite.spades-9 {
    background-position: -790px -467px;
}

.card-sprite.spades-10 {
    background-position: -888px -467px;
}

.card-sprite.spades-11 {
    background-position: -986px -467px;
}

.card-sprite.spades-12 {
    background-position: -1084px -467px;
}

.card-sprite.spades-13 {
    background-position: -1182px -467px;
}

.main-wrapper .uml {
    max-width: 100%;
}

.main-wrapper li {
    list-style: none;
}
