.flash-notice {
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border: 5px solid #b8daff;
    border-radius: 5px;
    margin: 0 1rem 1rem 0;
}
.flash-notice:before {
    content: "ⓘ";
}

.flash-warning {
    padding: 0.5em;
    color: #856404;
    background-color: #fff3cd;
    border: 5px solid #ffeeba;
    border-radius: 5px;
    margin: 0 1rem 1rem 0;
}
.flash-warning:before {
    content: "⚠";
}
