header {
    grid-area: header;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(59, 64, 63);
    color: rgb(223, 221, 228);
}

.header-title-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    font-family: 'Montserrat', sans-serif;
    h1 {
        margin-bottom: 0;
    }
}

.header-logo {
    width: 75px;
    border-radius: 100%;
}

.header-nav-wrapper {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

.header-nav-item {
    list-style: none;
    height: 100%;
    a {
        display: grid;
        place-items: center;
        padding-inline: 1rem;
        font-size: 1rem;
        font-weight: bold;
        height: 100%;
        text-decoration: none;
        color: rgb(223, 221, 228);
    }
    a:hover {
        text-shadow: 0 0 5px yellow;
    }
}
