.proj-header-wrapper {
    color: #3dc13d;
}

.proj-header-title-wrapper {
    font-family: 'Roboto', sans-serif;
    flex-direction: row-reverse;
}

.proj-header-logo {
    height: 75px;
}

.proj-header-nav-item {
    a {
        color: rgb(223, 221, 228);
        position: relative;
    }
    a:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 5px;
        bottom: 0px;
        background-color: rgb(223, 221, 228);
        visibility: hidden;
    }
    a:hover:after {
        text-shadow: none;
        visibility: visible;
    }
}
