{# templates/index.html.twig #}

{% extends('base.html.twig') %}

{% block title %}Lucky{% endblock %}

{% block content %}
    <div class="main-title">
        <h1>Lucky number</h1>
    </div>

    <div class="main-content">
        <div class="card-wrapper">
            <div class="card-number lucky">
                <span>{{ number }}</span>
            </div>
        </div>
    </div>

    <div class="main-side">
        <a href="{{ asset (" img/avatar.png") }}">
            <img src="{{ asset ("img/four_leaf.jpg") }}" alt="Bild kunde inte laddas">
        </a>
    </div>

{% endblock %}
